@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Главная страница</h1>
</div>

<!-- Content Row -->
